body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    margin: 0;
    background-color: #EEEEEE;
    color: #373A40;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.contenedor{
display: flex;
flex-direction: column;
align-items: center;
gap:15px;
cursor:pointer;
}

.unidades{
    display: flex;
    align-items: center;
    gap: 10px;
}